.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-card {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card-header {
  width: 100%;
  margin-bottom: 1.5rem;
  justify-content: center;

  .title {
    font-size: 2rem;
    font-weight: bold;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
  text-align: center;
}

.register {
  margin-top: 1rem;
  color: #a6a6a6;
  cursor: pointer;

  &:hover {
    color: #0078ac;
  }
}

.login-button {
  font-weight: bold;
  font-family: monospace;
  font-size: 1rem;
}

#loader,
.loader {
  font-weight: bold;
  font-family: monospace;
  display: inline-grid;
  font-size: 1rem;
}
.loader:before,
.loader:after {
  content:"Connexion";
  grid-area: 1/1;
  -webkit-mask-size: 1.5ch 100%,100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: xor;
  mask-composite:exclude;
  animation: l36-1 1s infinite;
}
.loader:before {
  -webkit-mask-image:
    linear-gradient(#000 0 0),
    linear-gradient(#000 0 0);
}
.loader:after {
  -webkit-mask-image:linear-gradient(#000 0 0);
  animation:
    l36-1  1s infinite,
    l36-2 .2s infinite cubic-bezier(0.5,200,0.5,-200);
}

@keyframes l36-1{
  0%   {-webkit-mask-position:0     0,0 0}
  20%  {-webkit-mask-position:.5ch  0,0 0}
  40%  {-webkit-mask-position:100%  0,0 0}
  60%  {-webkit-mask-position:4.5ch 0,0 0}
  80%  {-webkit-mask-position:6.5ch 0,0 0}
  100% {-webkit-mask-position:2.5ch 0,0 0}
}
@keyframes l36-2{
  100% {transform:translateY(0.2px)}
}
